{% extends 'base.html' %}

{% block title %}
  <title>Monthly report</title>
{% endblock %}

{% block content %}
  <section>
    <div class="container py-5">
      <div class="row d-flex-md justify-content-center align-items-center h-25">

        <h6>Deal report</h6>
        <table class="table">
          <tr>
            <th>User name</th>
            <th>Level</th>
            <th>Role</th>
            <th>Deal count</th>
          </tr>
          {% for d in deal_data %}
            <tr>
              <td>{{ d.name }}</td>
              <td>{{ d.level }}</td>
              <td>{{ d.role }}</td>
              <td>{{ d.deal_count }}</td>
            </tr>
          {% endfor %}
        </table>

        <h6>Currency report</h6>
        <table class="table">
          <tr>
            <th>Currency code</th>
            <th>Sold amount</th>
            <th>% of sell deals</th>
            <th>Bought amount</th>
            <th>% of buy deals</th>
          </tr>
          {% for c in currency_data %}
            <tr>
              <td>{{ c["code"] }}</td>
              <td>{{ c["sold_amount"] }}</td>
              <td>{{ c["sell_percent"] }}</td>
              <td>{{ c["bought_amount"] }}</td>
              <td>{{ c["buy_percent"] }}</td>
            </tr>
          {% endfor %}
        </table>


      </div>
    </div>

    <div class="container">
      <h6>Created by:</h6>
      <div class="row">
        <div class="col">
          <h6>{{ role }}</h6>
        </div>
        <div class="col">
          <h6>{{ user }}</h6>
        </div>
        <h6>{{ date }}</h6>
      </div>
    </div>
  </section>
{% endblock %}


