{% extends 'base.html' %}

{% block title %}
  <title>Get cash amount</title>
{% endblock %}

{% block content %}
  <section class="vh-100 gradient-custom-manager">
    <div class="container py-5 h-100">
      <div class="row d-flex-md justify-content-center align-items-center h-75">
        <div class="card bg-dark-manager text-white" style="border-radius: 0.5rem; width: 30rem;">
          <div class="card-body p-4 text-center">

            <div class="mb-md-1 mt-md-3 pb-1">

              <form method="post" action="/manager/get-cash-amount">

                <div class="text-success font-weight-bold text-center">
                  {% for message in msg %}
                    <h5>{{ message }}</h5>
                  {% endfor %}
                </div>

                {% for currency in currencies %}
                  <div class="input-group mb-4">
                    <span class="input-group-text" id="basic-addon1" style="width: 4rem">{{ currency.code }}</span>
                    <input type="text" class="form-control" value="{{ currency.amount }}" placeholder="Amount in"
                           aria-label="">
                  </div>
                {% endfor %}
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
